.content{
    grid-area: c;
    background-color: #D35400 ;
  }

.item {
  color: greenyellow;
  font-style: italic;
  font-size: 1.5em;
}

.item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}